<div class="dialog-form">
  <form
      [formGroup]="form"
    >
      <h1 mat-dialog-title>Please, submit your reservation</h1>
      <mat-dialog-content>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="pickerfrom" placeholder="Choose a date" formControlName="date_from">
          <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerfrom>
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="pickerto" placeholder="Choose a date" formControlName="date_to">
          <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerto>
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Workplace</mat-label>
          <input type="text" matInput formControlName="workplace_fk"
                 placeholder="Workplace"/>
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions>
      <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
      <button  class="btn btn-secondary" [disabled]="!form.valid" (click)="form.valid && onSubmit()">Submit</button>
      </mat-dialog-actions>
</form>
</div>
