.admin-container {
  display: flex;
}

.admin-container:after {
  content: "";
  display: table;
  clear: both;
}

.admin-container{
  width: 100%;
  display: flex;
}

.admin-container:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  justify-content: center;
  /*float: left;*/
  width: 100%;
  align-content: center;
}

mat-card.mat-card.mat-focus-indicator.search-container {
  height: 900px;
  background-color: #faf9f7;
}
