html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
  cursor: pointer;
}

.mat-dialog-title {
  margin: 0px !important;
  color: lightslategray;
  font-weight: 200;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.full-width {
  width: 100%;
}

mat-card-title.mat-card-title {
  color: #666666;
  font-weight: 200;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.mat-icon {
  color: #666666;
}
