html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
  cursor: pointer;
}

.mat-dialog-title {
  color: lightslategray;
  font-weight: 200;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.dialog-form form {
  height: 100%;
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.range {
  display: flex;
  justify-content: space-between;
}


.full-width {
  width: 100%;
}

mat-card-title.mat-card-title {
  color: #666666;
  font-weight: 200;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.mat-icon {
  color: #666666;
}
